In [74]:
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
from lightgbm import LGBMRegressor
import warnings
warnings.filterwarnings('ignore')

In [75]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
ss = pd.read_csv('SampleSubmission.csv')
train.head()

,ID,countryCode,year,sex,agefrom,ageto,percentage_no_schooling,percentage_primary_schooling,percentage_primary_schooling_completed,percentage_secondary_schooling,percentage_secondary_schooling_completed,percentage_tertiary_schooling,percentage_tertiary_schooling_completed,yr_sch,region_code,literate_pop,target
0,ID_00AMK8K,155,1990,MF,15,999,8.3900,26.270000,15.830000,58.570000,26.420000,6.770000,4.400000,8.540000,Latin America and the Caribbean,7435.0,91.609167
1,ID_00ANS9C,115,2005,MF,25,999,0.6325,6.980833,6.363333,77.683333,49.995833,14.700833,13.546667,11.631667,Europe and Central Asia,14350.0,99.362969
2,ID_00AQU1S,30,2000,M,15,999,68.5300,26.320000,16.020000,4.620000,2.320000,0.540000,0.310000,1.550000,Sub-Saharan Africa,1458.0,31.469890
3,ID_00AVQ7Q,143,1960,MF,15,999,12.5300,69.370000,49.260000,8.130000,1.100000,9.970000,5.510000,7.490000,Latin America and the Caribbean,45.0,86.538462
4,ID_00BAH2C,70,1955,MF,25,999,20.9800,55.900000,22.380000,20.850000,10.240000,2.270000,1.950000,4.890000,Latin America and the Caribbean,2380.0,79.017264

In [76]:
train.ageto.value_counts()

999    14016
Name: ageto, dtype: int64

In [77]:
train.sex.value_counts()

MF    7008
M     3504
F     3504
Name: sex, dtype: int64

In [78]:
train.region_code.value_counts()

Sub-Saharan Africa                 3168
Latin America and the Caribbean    2400
Advanced Economies                 2304
Europe and Central Asia            1920
East Asia and the Pacific          1824
Middle East and North Africa       1728
South Asia                          672
Name: region_code, dtype: int64

In [79]:
train.describe()

,countryCode,year,agefrom,ageto,percentage_no_schooling,percentage_primary_schooling,percentage_primary_schooling_completed,percentage_secondary_schooling,percentage_secondary_schooling_completed,percentage_tertiary_schooling,percentage_tertiary_schooling_completed,yr_sch,literate_pop,target
count,14016.000000,14016.000000,14016.000000,14016.0,14016.000000,14016.000000,14016.000000,14016.000000,14016.000000,14016.000000,14016.000000,14016.000000,1.401600e+04,14016.000000
mean,112.212329,1977.500000,20.000000,999.0,35.058990,35.081346,18.336662,24.148922,12.448905,5.708469,3.394752,5.035554,1.028293e+04,64.819575
std,90.990390,17.260878,5.000178,0.0,30.836316,20.827921,14.543279,20.248127,13.100393,7.103030,4.263788,3.182527,4.503997e+04,30.862859
min,1.000000,1950.000000,15.000000,999.0,0.003333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,50.000000,1963.750000,15.000000,999.0,6.200000,17.710000,6.830000,6.820000,2.470000,0.850000,0.450000,2.290000,3.050000e+02,39.845469
50%,91.500000,1977.500000,20.000000,999.0,26.387917,34.035000,15.235000,19.150000,7.640000,2.980000,1.730000,4.740000,1.391000e+03,73.493041
75%,131.000000,1991.250000,25.000000,999.0,60.120833,49.870000,26.315000,37.650833,18.760000,8.150000,4.750000,7.540000,5.393750e+03,93.704484
max,358.000000,2005.000000,25.000000,999.0,100.000000,94.380000,85.266667,93.943333,77.260000,57.290000,31.010000,13.280000,1.377328e+06,100.037495

In [80]:
y=train['target'] # target columns
train = train.drop(['ID','ageto'],axis=1)
test = test.drop(['ID','ageto',],axis=1)

In [81]:
train['source'] ='train'
test['source'] ='test' # creating a new column to distinguish between train and test

df =pd.concat([train,test],ignore_index=True,sort=False)
print('train shape',train.shape)
print('test shape',test.shape)
print('data shape',df.shape)

train shape (14016, 16)
test shape (1168, 15)
data shape (15184, 16)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15184 entries, 0 to 15183
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   countryCode                               15184 non-null  int64
 1   year                                      15184 non-null  int64
 2   sex                                       15184 non-null  object
 3   agefrom                                   15184 non-null  int64
 4   percentage_no_schooling                   15184 non-null  float64
 5   percentage_primary_schooling              15184 non-null  float64
 6   percentage_primary_schooling_completed    15184 non-null  float64
 7   percentage_secondary_schooling            15184 non-null  float64
 8   percentage_secondary_schooling_completed  15184 non-null  float64
 9   percentage_tertiary_schooling             15184 non-null  float64
 10  percentage_tertiary_schooling_completed   15184 non-null  float64
 11  yr_sch                                    15184 non-null  float64
 12  region_code                               15184 non-null  object
 13  literate_pop                              15184 non-null  float64
 14  target                                    14016 non-null  float64
 15  source                                    15184 non-null  object
dtypes: float64(10), int64(3), object(3)
memory usage: 1.9+ MB

In [83]:
#df['year_target']= df.groupby(['year'])['target'].transform('mean')

In [84]:
#df['yr_sch_target']= df.groupby(['yr_sch'])['target'].transform('mean')

In [85]:
#df['sex'] =df['sex'].replace({"MF": np.NaN })
# from sklearn.preprocessing import LabelEncoder
# le =LabelEncoder()
# df['sex'] =le.fit_transform(df['sex'])
# df['region_code']=le.fit_transform(df['region_code'])

In [86]:
cat_cols=['sex','region_code',]
# for i in cat_cols:
#     df[i] = df[i].fillna(df[i].mode()[0])

In [87]:
#df[cat_cols] = df[cat_cols].astype('category')
df = pd.get_dummies(df, columns=['sex','region_code'])

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15184 entries, 0 to 15183
Data columns (total 24 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   countryCode                                  15184 non-null  int64
 1   year                                         15184 non-null  int64
 2   agefrom                                      15184 non-null  int64
 3   percentage_no_schooling                      15184 non-null  float64
 4   percentage_primary_schooling                 15184 non-null  float64
 5   percentage_primary_schooling_completed       15184 non-null  float64
 6   percentage_secondary_schooling               15184 non-null  float64
 7   percentage_secondary_schooling_completed     15184 non-null  float64
 8   percentage_tertiary_schooling                15184 non-null  float64
 9   percentage_tertiary_schooling_completed      15184 non-null  float64
 10  yr_sch                                       15184 non-null  float64
 11  literate_pop                                 15184 non-null  float64
 12  target                                       14016 non-null  float64
 13  source                                       15184 non-null  object
 14  sex_F                                        15184 non-null  uint8
 15  sex_M                                        15184 non-null  uint8
 16  sex_MF                                       15184 non-null  uint8
 17  region_code_Advanced Economies               15184 non-null  uint8
 18  region_code_East Asia and the Pacific        15184 non-null  uint8
 19  region_code_Europe and Central Asia          15184 non-null  uint8
 20  region_code_Latin America and the Caribbean  15184 non-null  uint8
 21  region_code_Middle East and North Africa     15184 non-null  uint8
 22  region_code_South Asia                       15184 non-null  uint8
 23  region_code_Sub-Saharan Africa               15184 non-null  uint8
dtypes: float64(10), int64(3), object(1), uint8(10)
memory usage: 1.8+ MB

In [89]:
df['illeterate pop'] = df.percentage_no_schooling * df.literate_pop
#df['percentage_sec_diff'] = df.percentage_secondary_schooling - df.percentage_secondary_schooling_completed
#df['percentage_ter_diff'] = df.percentage_tertiary_schooling - df.percentage_tertiary_schooling_completed

In [94]:
## Splitting of the columns back to train and test and dropping the indicator column
train = df.loc[df['source']=='train']
test = df.loc[df['source']=='test']

train.drop(['source','target','region_code_East Asia and the Pacific','sex_MF'],axis=1,inplace=True)
test.drop(['source','target','region_code_East Asia and the Pacific','sex_MF'],axis =1,inplace =True)

In [95]:
X = train
test_new = test

In [96]:
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import KFold

In [120]:
seed = 2021 # seed
skf = KFold(n_splits=15, shuffle=True, random_state=seed) # for cross validation
scores = []
preds= []



    

#creating a for loop for the stratified k fold
i = 1
for train, test in skf.split(X, y):
    x_train, x_test, y_train, y_test = X.iloc[train], X.iloc[test], y.iloc[train], y.iloc[test]# spliting the data
    estimator = LGBMRegressor(learning_rate=0.05,n_estimators =1000
                               ,max_depth=-1,num_leaves=50,reg_lambda=4, objective='regression',subsample=0.8)# parameters for the algorithm this was done by manual tuning

    estimator.fit( x_train, y_train,eval_set=[(x_train,y_train),(x_test, y_test)], early_stopping_rounds=500,verbose=500,eval_metric='mae' )# fitting on train data
    
    print('Number of splits trained {} '.format(i))
    score = mean_absolute_error(y_test, estimator.predict(x_test)) # checking the accuracy
    pred = estimator.predict(test_new)# making prediction probabities
    scores.append(score)
    preds.append(pred)
    i += 1

np.mean(scores)

Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.0945935	training's l2: 0.0188468	valid_1's l1: 0.148059	valid_1's l2: 0.071114
Early stopping, best iteration is:
[197]	training's l1: 0.116712	training's l2: 0.0414007	valid_1's l1: 0.147331	valid_1's l2: 0.0736105
Number of splits trained 1
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.095229	training's l2: 0.0181637	valid_1's l1: 0.129101	valid_1's l2: 0.0405179
Early stopping, best iteration is:
[306]	training's l1: 0.107769	training's l2: 0.0273814	valid_1's l1: 0.130171	valid_1's l2: 0.0402407
Number of splits trained 2
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.0947373	training's l2: 0.019333	valid_1's l1: 0.136792	valid_1's l2: 0.0654652
Did not meet early stopping. Best iteration is:
[900]	training's l1: 0.0760907	training's l2: 0.0111318	valid_1's l1: 0.137504	valid_1's l2: 0.0633908
Number of splits trained 3
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.096718	training's l2: 0.019629	valid_1's l1: 0.130378	valid_1's l2: 0.0425731
Did not meet early stopping. Best iteration is:
[900]	training's l1: 0.0759948	training's l2: 0.0110331	valid_1's l1: 0.130195	valid_1's l2: 0.0422786
Number of splits trained 4
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.0949546	training's l2: 0.0197139	valid_1's l1: 0.15134	valid_1's l2: 0.118689
Early stopping, best iteration is:
[281]	training's l1: 0.109113	training's l2: 0.0313442	valid_1's l1: 0.148815	valid_1's l2: 0.112295
Number of splits trained 5
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.0937979	training's l2: 0.0188819	valid_1's l1: 0.13038	valid_1's l2: 0.043588
Early stopping, best iteration is:
[161]	training's l1: 0.121197	training's l2: 0.0482766	valid_1's l1: 0.12929	valid_1's l2: 0.0406819
Number of splits trained 6
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.094679	training's l2: 0.0190096	valid_1's l1: 0.146309	valid_1's l2: 0.0816385
Did not meet early stopping. Best iteration is:
[900]	training's l1: 0.074478	training's l2: 0.0105285	valid_1's l1: 0.147495	valid_1's l2: 0.0794596
Number of splits trained 7
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.0963932	training's l2: 0.0194314	valid_1's l1: 0.146245	valid_1's l2: 0.0989126
Did not meet early stopping. Best iteration is:
[900]	training's l1: 0.0747694	training's l2: 0.0102909	valid_1's l1: 0.144705	valid_1's l2: 0.0927379
Number of splits trained 8
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.0937706	training's l2: 0.0182799	valid_1's l1: 0.135804	valid_1's l2: 0.086435
Early stopping, best iteration is:
[259]	training's l1: 0.110307	training's l2: 0.0306583	valid_1's l1: 0.134518	valid_1's l2: 0.091492
Number of splits trained 9
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.0935243	training's l2: 0.018578	valid_1's l1: 0.146284	valid_1's l2: 0.0921808
Did not meet early stopping. Best iteration is:
[900]	training's l1: 0.0736918	training's l2: 0.0104435	valid_1's l1: 0.145854	valid_1's l2: 0.092199
Number of splits trained 10
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.0948358	training's l2: 0.0190744	valid_1's l1: 0.13251	valid_1's l2: 0.0426406
Early stopping, best iteration is:
[155]	training's l1: 0.12435	training's l2: 0.054328	valid_1's l1: 0.13118	valid_1's l2: 0.0369991
Number of splits trained 11
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.0948531	training's l2: 0.0190546	valid_1's l1: 0.146626	valid_1's l2: 0.108128
Did not meet early stopping. Best iteration is:
[900]	training's l1: 0.0745635	training's l2: 0.0104988	valid_1's l1: 0.148815	valid_1's l2: 0.104755
Number of splits trained 12
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.0951814	training's l2: 0.0189317	valid_1's l1: 0.14458	valid_1's l2: 0.0694611
Did not meet early stopping. Best iteration is:
[900]	training's l1: 0.0752105	training's l2: 0.0105166	valid_1's l1: 0.144969	valid_1's l2: 0.0672827
Number of splits trained 13
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.09541	training's l2: 0.0192757	valid_1's l1: 0.134761	valid_1's l2: 0.0558406
Early stopping, best iteration is:
[138]	training's l1: 0.129431	training's l2: 0.0594136	valid_1's l1: 0.137213	valid_1's l2: 0.0526384
Number of splits trained 14
Training until validation scores don't improve for 500 rounds
[500]	training's l1: 0.094339	training's l2: 0.0189469	valid_1's l1: 0.144294	valid_1's l2: 0.0682881
Early stopping, best iteration is:
[240]	training's l1: 0.112033	training's l2: 0.0344653	valid_1's l1: 0.141072	valid_1's l2: 0.0644388
Number of splits trained 15

0.13994171271252345

In [121]:
ss.target = np.mean(preds,0)

In [122]:
ss.head()

           ID     target
0  ID_00ILO0W  87.556323
1  ID_00KPO3Y  83.220221
2  ID_00MLY2L  88.419125
3  ID_00PVY5K  95.185412
4  ID_00TLQ4J  97.776608

In [123]:
ss.to_csv('baseline.csv',index=False)

In [17]:
from catboost import CatBoostRegressor

In [21]:
seed = 2021 # seed
skf = KFold(n_splits=10, shuffle=True, random_state=seed) # for cross validation
scores = []
preds= []



    

#creating a for loop for the stratified k fold
i = 1
for train, test in skf.split(X, y):
    x_train, x_test, y_train, y_test = X.iloc[train], X.iloc[test], y.iloc[train], y.iloc[test]# spliting the data
    cat =  CatBoostRegressor(learning_rate=0.05,eval_metric='MAE',iterations= 5000,subsample=0.8)# parameters for the algorithm this was done by manual tuning

    cat.fit( x_train, y_train,eval_set=[(x_train,y_train),(x_test, y_test)], early_stopping_rounds=100,verbose=500,)# fitting on train data
    
    print('Number of splits trained {} '.format(i))
    score = mean_absolute_error(y_test, cat.predict(x_test)) # checking the accuracy
    pred = cat.predict(test_new)# making prediction probabities
    scores.append(score)
    preds.append(pred)
    i += 1

np.mean(scores)

0:	learn: 25.6688854	test: 25.6688854	test1: 25.2488717	best: 25.2488717 (0)	total: 8.85ms	remaining: 44.2s
500:	learn: 0.2613512	test: 0.2613512	test1: 0.2776623	best: 0.2776623 (500)	total: 3.49s	remaining: 31.4s
1000:	learn: 0.1927276	test: 0.1927276	test1: 0.2299771	best: 0.2299771 (1000)	total: 7.24s	remaining: 28.9s

KeyboardInterrupt:

In [ ]:
#from sklearn.model_selection import train_test_split

seed = 2021
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=seed)
estimator = LGBMRegressor()
estimator.fit( x_train, y_train, )# fitting on train data

mean_absolute_error(y_test,estimator.predict(x_test))

In [ ]:
##learning_rate=0.1,n_estimators = 180
                           #    ,scale_pos_weight= 3.5,max_depth=8,num_leaves=30,reg_lambda=0.3,)# parameters for the algori